@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Chakra+Petch:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

.main{
    background: #262626;
    padding-bottom: 0;
}


.main-hero h1 {
    font-family: Russo One;
    font-size: 98.51px;
    font-style: normal;
    font-weight: 400;
    line-height: 107%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
  }
  

  .main-hero h2{
    font-family: Russo One;
    font-size: 90.511px;
    font-style: normal;
    font-weight: 400;
    line-height: 107%;
    background: linear-gradient(154deg, white 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .swiper-btnss{
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .swiper-btnss button{
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
  }

  .swiper-btnss .countof_swiper{
    clip-path: polygon(50% 100%, 100% 74.96%, 100% 24.29%, 52.71% 0%, 29.29% 0%, 50% 0%, 0% 24.29%, 0% 74.96%, 50% 100%);
    background-color: #ffff;
    padding: 15px 20px;
  }

  .black-car{
    background-image: url('../assests/img/way.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .yellow-car{
    background-image: url('../assests/img/way1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bestune-car {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
    top: -180px;
}

  .black-car{
    width: 100%;
  }

  .bestune-bck-car{
    position: relative;
    left: 260px;
  }

  .bestune-ylw-car{
    position: relative;
    left: 260px;
  }


  @media only screen and (max-width: 460px){
    .main{
      margin-top: 100px;
    }
    .bestune-car img{
      width: 390.82px;
    } 

    .main-hero h1{
      font-size: 30px;
    }

    .main-hero h2{
      font-size: 46px;
    }

    .bestune-car{
      top: -60px;
    }
  }