.sense{
    margin-top: 110px;
}

.sens-right{
    width: 100%;
    display: flex;
}

.sens-right .snr-img{
    display: flex;
    align-items: center;
    gap: 0;
    flex: 1 1;
}
.img{
    /* margin-right: -110px; */
}