.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: url("./assests/img/bestunelogo.png") center no-repeat #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
